<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendauca"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="com.example.agendauca.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:name="com.example.agendauca.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.agendauca.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>   
        
       <receiver android:name="com.example.chat.GCMBroadcastReceiver"
          android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
             <action android:name="com.google.android.c2dm.intent.RECEIVE" />
             <category android:name="com.example.agendauca" />
          </intent-filter>
        </receiver>
        
        <service android:name="com.example.conexionesServidor.descargaFicheroService"/>
        <service android:name="com.example.chat.GCMServicioPush" />  
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <activity 
          android:name="com.example.ficheros.Camara"
          android:label="@string/app_name">
        </activity>
        <activity 
          android:name="com.example.ficheros.Video"
          android:label="@string/app_name">
        </activity>
        <activity 
          android:name="com.example.ficheros.Audio"
          android:label="@string/app_name">
        </activity>
        <activity 
          android:name="com.example.ficheros.ListarFicheros"
          android:label="@string/app_name">
        </activity>
        <activity 
          android:name="com.example.ficheros.compartirFicheroAmigo"
          android:label="@string/app_name"
          android:noHistory="true">
        </activity>
        <activity 
          android:name="com.example.ficheros.BlocNotas"
          android:label="@string/app_name"
          android:noHistory="true">
        </activity>
        <activity 
          android:name="com.example.ficheros.MostrarNota"
          android:label="@string/app_name"
          android:noHistory="true"> 
        </activity>
        <activity 
          android:name="com.example.ficheros.moverDirFich"
          android:label="@string/app_name"
          android:noHistory="true">
        </activity>
        <activity 
          android:name="com.example.agendauca.MenuInicial"
          android:label="@string/app_name">
        </activity>
        <activity 
          android:name="com.example.chat.chatPrincipal"
          android:label="@string/app_name"
          android:noHistory="true"> 
        </activity>
        <activity 
          android:name="com.example.chat.chatAmigo"
          android:label="@string/app_name"
           android:noHistory="true">
        </activity>
        <activity 
          android:name="com.example.agendauca.historialChat"
          android:label="@string/app_name"
          android:noHistory="true"> 
        </activity>
         <activity 
          android:name="com.example.chat.creacionGrupo"
          android:label="@string/app_name"
          android:noHistory="true"> 
        </activity>
        <activity 
          android:name="com.example.chat.creacionEvento"
          android:label="@string/app_name"
          android:noHistory="true"> 
        </activity>
        <activity 
          android:name="com.example.examenes.listaGrados"
          android:label="@string/app_name"
          android:noHistory="true">
        </activity>
        <activity 
          android:name="com.example.examenes.listaExamenes"
          android:label="@string/app_name"
          android:noHistory="true">
        </activity>

    </application>

</manifest>
